@import '../../../node_modules/normalize.css/normalize.css';
@import '../../shared/styles/media.css';

@media (--viewport-medium-and-less) {
  html,
  body {
    scrollbar-gutter: auto;
  }
}

:root {
  --opacity-link-hover: 0.8;
  --transition: 0.1s;

  --page-padding-x: 16px;
  --page-max-width: 1272px;

  --outline-color: var(--color-blue-700);
  --outline-radius: 5px;
  --outline-thickness: 4px;

  --color-black: oklch(22.41% 0.018 255.71);
  --color-white: oklch(100% 0 0);
  --color-grey-50: oklch(98.51% 0 0);
  --color-grey-100: oklch(93.7% 0 0);
  --color-grey-200: oklch(72.37% 0.015 244.79);
  --color-grey-300: oklch(84.38% 0.015 244.75);
  --color-grey-400: oklch(74.76% 0 0);
  --color-grey-500: oklch(42.34% 0.024 253.08);
  --color-blue-200: oklch(71.73% 0.141 249.41);
  --color-blue-300: oklch(86.29% 0.071 247.4);
  --color-blue-700: oklch(60.88% 0.192 247.4); /* p3  */
  --color-blue-900: oklch(25.16% 0.045 244.62);
  --color-red-400: oklch(63.16% 0.205 359.35);
  --color-primary: oklch(62.02% 0.105 198.89);
  --color-main: oklch(44.41% 0.146 250.48);
  --color-light: oklch(74.76% 0 0);

  --color-button-primary-origin: var(--color-main);
  --color-button-primary-hover: var(--color-blue-200);
  --color-button-primary-active: var(--color-blue-700);
  --color-button-primary-disabled: var(--color-main);
  --color-button-primary-text: var(--color-white);

  --color-button-link-text: var(--color-black);
  --color-button-link-border: var(--color-grey-500);

  --color-topline-bg: var(--color-grey-500);
  --color-topline-text: var(--color-white);

  --color-header-text: var(--color-grey-500);
  --color-header-icon: var(--color-grey-500);
  --color-header-hamburger: var(--color-black);
  --color-header-bg: var(--color-white);
  --color-header-accent: var(--color-main);

  --color-menu-text: var(--color-grey-500);
  --color-menu-decoration: var(--color-grey-500);

  --color-hero-bg: var(--color-grey-50);
  --color-hero-text: var(--color-black);
  --color-hero-description: var(--color-grey-500);
  --color-hero-slider-dot: var(--color-blue-300);
  --color-hero-slider-dot-active: var(--color-main);

  --color-footer-bg: var(--color-blue-900);
  --color-footer-text-primary: var(--color-white);
  --color-footer-text-secondary: var(--color-grey-300);
  --color-footer-text-disclaimer: var(--color-grey-200);
}
