@import '../../../../shared/styles/media.css';
@import '../../../../shared/styles/mixins.css';

.topline {
  --padding-y: 9px;

  background: var(--color-topline-bg);
  color: var(--color-topline-text);
  font-size: 12px;
  line-height: 1.5;

  & .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
  }
}

.callBack {
  display: none;
}

.text {
  text-align: center;
}

@media (--viewport-medium) {
  .topline {
    --padding-y: 13px;
    font-size: 16px;
    grid-template-columns: 1fr max-content;
    line-height: 26px;
  }

  .text {
    justify-self: center;
  }

  .callBack {
    @mixin link-underline;
    @mixin link-focus;

    position: absolute;
    right: var(--page-padding-x);
    display: inline-block;
    color: var(--color-topline-text);
    text-decoration: none;
    transition: opacity var(--transition);
    &:hover {
      opacity: var(--opacity-link-hover);
    }
  }
}
