@import '../../../../shared/styles/media.css';

.nav {
  --transition: 0.3s;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  margin: 0;
  background-color: transparent;
}

.icon {
  width: 24px;
  height: 24px;
}

/* .iconLeft {
} */

.iconRight {
  transform: rotate(180deg);
}

.dots {
  display: flex;

  & :global(.carousel__dot) {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    margin: 0;
    background: transparent;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--color-hero-slider-dot);
      content: '';
      transform: translate(-50%, -50%);
      transition: background-color var(--transition);
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      border: 1px solid transparent;
      border-radius: 50%;
      content: '';
      transform: translate(-50%, -50%);
      transition: border-color var(--transition);
    }
  }

  & :global(.carousel__dot--selected) {
    &:before {
      width: 6px;
      height: 6px;
      background-color: var(--color-hero-slider-dot-active);
    }

    &:after {
      border-color: var(--color-hero-slider-dot);
    }
  }
}

@media (--viewport-small) {
  .dots {
    & :global(.carousel__dot) {
      &:before {
        width: 6px;
        height: 6px;
      }

      &:after {
        width: 24px;
        height: 24px;
      }
    }

    & :global(.carousel__dot--selected) {
      &:before {
        width: 8px;
        height: 8px;
      }
    }
  }

  .nav {
    width: auto;
    gap: 5px;
  }
}

/* @media (--viewport-medium) {
} */
