@import '../../../shared/styles/mixins.css';
@import '../../../shared/styles/media.css';

.phone {
  display: grid;
  align-items: center;
  gap: 8px;
  grid-template-columns: min-content max-content 1fr;
}

.icon {
  width: 18px;
  height: 18px;
  color: var(--color-header-accent);
}

.number {
  @mixin link;
  @mixin link-focus;

  color: var(--color-header-text);
  font-size: 14px;
  text-decoration: none;
}

.callBack {
  @mixin link;
  @mixin link-focus;

  color: var(--color-header-accent);
  font-size: 16px;
  font-weight: 500;
  justify-self: flex-end;
  letter-spacing: 1px;
}

@media (--viewport-medium) {
  .phone {
    grid-template-columns: min-content max-content;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .number {
    font-size: 18px;
  }

  .callBack {
    display: none;
  }
}
