@import '../../shared/styles/media.css';
@import '../../shared/styles/mixins.css';

.hero {
  display: flex;
  padding-top: 15px;
  padding-bottom: 30px;
  background: var(--color-hero-bg);
  color: var(--color-hero-text);
}

.carousel {
  position: relative;
  height: 100%;

  & * {
    outline: none;
  }

  & *:focus-visible {
    box-shadow: 0 0 0 var(--outline-thickness) var(--outline-color);
  }
}

.sliderNav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (--viewport-small) {
  .hero {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .sliderNav {
    bottom: -25px;
  }
}

@media (--viewport-medium) {
  .hero {
    position: relative;
    display: flex;
    min-height: 774px;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .carousel {
    position: initial;
  }

  .sliderNav {
    bottom: 48px;
  }
}
