@import '../../../app/media.css';
@import '../../../app/mixins.css';

.hamburger {
  @mixin button-focus;
  width: 24px;
  height: 24px;
  align-self: center;
  padding: 0;
  border: none;
  border-radius: var(--outline-radius);
  background: none;
  color: var(--color-header-icon);
  cursor: pointer;
  justify-self: flex-start;

  & svg {
    width: 100%;
    height: 100%;
  }
}

@media (--viewport-medium) {
  .hamburger {
    display: none;
  }
}
